@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0000;
  background: #FFF;
}

.back-texture{
  background: url(../app/assets/backtexture.png) top left no-repeat ;
  background-size: cover;
}

.back-greencolor{
  background: linear-gradient(94deg, rgba(143, 209, 106, 0.60) -10.12%, rgba(97, 149, 84, 0.00) 19.31%, rgba(86, 126, 86, 0.00) 86.19%, #A3CEB6 118.29%);
}

.background-mark1{
  background: url('./assets/mark2.png') top left no-repeat, url(../app/assets/backtexture.png) top left no-repeat;
  background-size: cover;
}

.background-mark3{
  background: url('./assets/mark3.png') top left no-repeat, url(../app/assets/backtexture.png) top left no-repeat;
  background-size: cover;
}

.background-mark4{
  background: url('./assets/markao.png') top left no-repeat, url(../app/assets/backtexture.png) top left no-repeat;
  background-size: cover;
}